@page
@model BudgetRequests.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "Create";
}

@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Title" class="control-label"></label> *@
@*                 <input asp-for="Title" class="form-control"/> *@
@*                 <span asp-validation-for="Title" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Body" class="control-label"></label> *@
@*                 <input asp-for="Body" class="form-control"/> *@
@*                 <span asp-validation-for="Body" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group mt-2"> *@
@*                 <label class="control-label">Requester</label> *@
@*                 <select asp-for="OrganizationId" asp-items="Model.Organizations" class="form-control mt-1"></select> *@
@*                 <span asp-validation-for="OrganizationId" class="text-danger mt-1"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary"/> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

<div class="create-container">
    <div class="box form-box">
        <header>Create Budget Request</header>
        <form action="" method="post">
            <div class="field input">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="field input">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control"/>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="field input mt-2">
                <label class="control-label">Requester</label>
                <select asp-for="OrganizationId" asp-items="Model.Organizations" class="form-control mt-1"></select>
                <span asp-validation-for="OrganizationId" class="text-danger mt-1"></span>
            </div>

            <div class="field input">
                <label for="expense">Expense</label>
                <input type="text" name="expense" id="expense" autocomplete="off" required>
            </div>

            <div class="field input">
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" autocomplete="off" placeholder="&#8369;" required>
            </div>

            <script>
            function show(a){
              document.querySelector('.text02').value = a;
            }

            let dropdown = document.querySelector('.dropdown');
            dropdown.onclick = function(){
              dropdown.classList.toggle('active');
            }
          </script>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Submit Request" required>
            </div>
        </form>
    </div>
</div>