@page
@model BudgetRequests.Pages.Requests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BudgetRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetRequest.Id" />
            <div class="form-group">
                <label asp-for="BudgetRequest.Title" class="control-label"></label>
                <input asp-for="BudgetRequest.Title" class="form-control" />
                <span asp-validation-for="BudgetRequest.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetRequest.Body" class="control-label"></label>
                <input asp-for="BudgetRequest.Body" class="form-control" />
                <span asp-validation-for="BudgetRequest.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

