@page
@model BudgetRequests.Pages.Users.CollegeAdmins

@{}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="create-container">
    <div class="box form-box">
        <header>College Admins</header>

        <div class="role">AssistantDean<span class="name">@(Model.AssistantDean?.FullName ?? "Unassigned")</span></div>


        <div class="role">Dean<span class="name">@(Model.Dean?.FullName ?? "Unassigned")</span></div>

        <div class="role">Student Affairs Director<span class="name">@(Model.StudentAffairsDirector?.FullName ?? "Unassigned")</span></div>

        <div class="field mt-2">
            <a class="btn btn-primary" type="submit" asp-page="./UpdateAdmins">Update College Admins</a>
            <a class="btn btn-secondary" type="submit" asp-page="./Index">Go Back</a>
        </div>

    </div>
</div>
</body>
</html>