@page
@using BudgetRequests.Models
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="create-container">
    <div class="profile-card">
        <div class="text-data">
            <span class="name">@Model.User.FullName</span>
            <span class="username">@@@Model.User.Username</span>
            <span class="role">@(Model.User.Type == UserType.Admin ? "Admin" : "Officer")</span>
        </div>

        <a class="user-btn" asp-page="Edit"><ion-icon name="pencil-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Edit
        </a>

        <a class="user-btn" asp-page="./Index"><ion-icon name="arrow-back-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Go Back
        </a>

    </div>
    
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>