@page
@using BudgetRequests.Models
@model BudgetRequests.Pages.Profile.Index

@{
    ViewData["Title"] = "Index";
}

<div class="create-container">
    <div class="profile-card">
        <div class="text-data">
            <span class="name">@Model.User.FullName</span>
            <span class="username">@@@Model.User.Username</span>
            <span class="role">@(Model.User.Type == UserType.Admin ? "Admin" : "Officer")</span>
        </div>

        <a class="user-btn" asp-page="ChangeUsername"><ion-icon name="information-circle-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change username
        </a>

        <a class="user-btn" asp-page="ChangePassword"><ion-icon name="key-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change password
        </a>

        <a class="user-btn" asp-page="ChangeSignature"><ion-icon name="pencil-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change signature
        </a>

        <a class="user-btn" asp-page="../Requests/Index"><ion-icon name="arrow-back-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Go Back
        </a>

    </div>
    
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>