@page
@model BudgetRequests.Pages.Profile.Index

@{
    ViewData["Title"] = "Index";
}

<div class="create-container">
    <div class="profile-card">
        <div class="text-data">
            <span class="name">Jonathan</span>
            <span class="username">@@jo_na_than</span>
            <span class="role">Admin</span>
        </div>

        <button class="user-btn"><ion-icon name="information-circle-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change username
        </button>

        <button class="user-btn"><ion-icon name="key-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change password
        </button>

        <button class="user-btn"><ion-icon name="pencil-outline"></ion-icon>
            &nbsp; &nbsp; &nbsp; Change signature
        </button>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>