@page
@model BudgetRequests.Pages.Organizations.EditModel

@{
    ViewData["Title"] = "Edit";
}

@*
<h1>Edit</h1>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Organization.Id" />
            <div class="form-group">
                <label asp-for="Organization.Name" class="control-label"></label>
                <input asp-for="Organization.Name" class="form-control" />
                <span asp-validation-for="Organization.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Organization.IsStudentCouncil" /> @Html.DisplayNameFor(model => model.Organization.IsStudentCouncil)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Organization.GrossBudget" class="control-label"></label>
                <input asp-for="Organization.GrossBudget" class="form-control" />
                <span asp-validation-for="Organization.GrossBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
*@

<div class="create-container">
    <div class="box form-box">
        <header>Add Organization</header>
        <form action="" method="post">
            <div class="field input">
                <label asp-for="Organization.Name" class="control-label"></label>
                <input asp-for="Organization.Name" class="form-control"/>
                <span asp-validation-for="Organization.Name" class="text-danger"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Adviser</label>
                <select asp-for="AdviserId" asp-items="Model.Admins" class="form-control mt-1"></select>
                <span asp-validation-for="AdviserId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">President</label>
                <select asp-for="PresidentId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="PresidentId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Vice President</label>
                <select asp-for="VicePresidentId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="VicePresidentId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Secretary</label>
                <select asp-for="SecretaryId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="SecretaryId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Treasurer</label>
                <select asp-for="TreasurerId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="TreasurerId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Auditor</label>
                <select asp-for="AuditorId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="AuditorId" class="text-danger mt-1"></span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">P.R.O.</label>
                <select asp-for="PublicRelationsOfficerId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="PublicRelationsOfficerId" class="text-danger mt-1"></span>
            </div>

            <div class="field">
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Organization.Id">Edit Organization</a>
            </div>
            
            <div class="field">
                <a style="margin-top: 0" class="btn btn-secondary" asp-page="./Index">Go Back</a>
            </div>
        </form>
    </div>
</div>
