@page
@model BudgetRequests.Pages.HomePage.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #eeeeee">

<div style="display:flex; justify-content: center">
    <div>
        @for (var i = 0; i < 10; i++)
        {
            <div class="rounded-rectangle" style="padding: 20px; border-radius: 10px">
                <h4 class="mb-2">U-fucking-week</h4>
                <p>
                    The Institute of Electronics Engineers of the Philippines – AUF Student Chapter has organized
                    a Webinar this...
                </p>
            </div>
        }
    </div>
</div>
</body>
</html>