@page
@model BudgetRequests.Pages.CreateSuperAdmin.IndexModel

@{
    ViewData["Title"] = "Create Super Admin";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #eeeeee">

<div>
    <div class="row d-flex justify-content-md-center align-items-center vh-100">
        <div class="col-md-4 rounded-rectangle">
            <h2 class="mb-4">Create Super Admin</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control mt-1"/>
                    <span asp-validation-for="FirstName" class="text-danger mt-1"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control mt-1"/>
                    <span asp-validation-for="MiddleName" class="text-danger mt-1"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control mt-1"/>
                    <span asp-validation-for="LastName" class="text-danger mt-1"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control mt-1"/>
                    <span asp-validation-for="Username" class="text-danger mt-1"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control mt-1"/>
                    <span asp-validation-for="Password" class="text-danger mt-1"></span>
                </div>
                <div class="form-group mt-4 mb-2">
                    <input type="submit" value="Save" class="btn btn-primary" style="width: 100%;"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>